<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cursos</h2>
                    <h3 class="section-subheading text-muted">Cursos à Distância e Semi-presenciais.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cibercultura e Inteligência coletiva</h4>
                    <p class="text-muted">Os meios de comunicação interativos, as comunidades virtuais e a explosão da liberdade de expressão permitida pela internet abrem um novo espaço de comunicação transparente e universal. Para discutir esse assunto, o Centro de Educação Aberta e à Distância - CEAD, tem um curso com o Prof. Lailson Henrique</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Introdução a Educação à Dist6ancia</h4>
                    <p class="text-muted">Educação a distância é uma modalidade de educação mediada por tecnologias em que discentes e docentes estão separados espacial e/ou temporalmente, ou seja, não estão fisicamente presentes em um ambiente presencial de ensino-aprendizagem.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Matemática</h4>
                    <p class="text-muted">O matemático deduz resultados a partir de conceitos e premissas, mediante raciocínios puramente lógicos. Também se dedica a usar suas habilidades para criar modelos que caracterizam e quantificam relações próprias de outras ciências, o que dá à matemática seu quádruplo caráter de ciência, arte, jogo e ferramenta..</p>
                </div>
            </div>
        </div>
    </section>